header {
	font-family: 'Kdam Thmor Pro', sans-serif;
	background: url(imagens\\background-menu.png);
	padding: 15px 0;
}

.caixa {
	position: relative;
	width: 1040px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 50px;
	right: 0;
}

nav li {
	display: inline-block;
	text-align: center;
	
	margin: 0 0 0 15px;
}

nav li:hover{
	background-image: url(imagens\\tesourasx.png);
}

nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

main{
	background: url(imagens\\backtesoura.png);
}

.produtos {
	width: 1040px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 28%;
	vertical-align: top;
	margin: 0 2.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;

}

.produtos li:active {
	border-color: #088C19;
}

.produtos li:hover h2 {
	font-size: 35px;
}

.produtos li:hover .produto-preco {
	font-size: 26px;
	color: #C78C19;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer{
	text-align: center;
	background: url(imagens\\bg.jpg);
	padding: 40px 0;

}

footer img{
	width: 5%;
}

.copyright{
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;

}


.video{
 text-align: center;
}

iframe{


	margin: 30px 0 0 50px;
	border-radius: 10px;

}

